// HEADER

.contactHeader {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    width: 100%;
    height: 576px;
    position: relative;
    h1 {
        padding-top: 12vh;
        padding-left: 5vw;
    }
}

// MAIN
.contactBody {
    background-color: $ice;
}

.contactMain {
    display: flex;
    align-items: center;
    padding: 10rem 0;
    i {
        padding-left: 2rem;
    }
    .fa-facebook-f {
        padding: 0;
    }
    h3 {
        margin-bottom: 3rem;
    }
    p {
        line-height: 0.75;
    }
    .contactForm {
        box-shadow: -3rem 3rem 0 0 $canary;
        margin-bottom: 20vh;
        padding: 4rem;
        width: 60%;
        position: absolute;
        top: 33rem;
        left: 55rem;
        background-color: $white;
        .nameBox,
        .emailBox,
        .messageBox {
            background-color: $white;
        }
    }
}

// MEDIA QUERIES

@media (max-width: 1500px) {
    .contactMain {
        flex-direction: column;
        h3 {
            padding-top: 8rem;
        }
    }
    .contactForm {
        position: static;
    }
}

@media (max-width: 500px) {
    .contactHeader {
        background: $white;
        height: 450px;
        a {
            font-size: 1.5rem;
            justify-content: center;
        }
    }
    .contactMain {
        padding: 5.5rem 0;
    }
    
}