.contactHeader {
    background-image: url(../assets/contact-header.jpg);
}







.contactForm {
    box-shadow: -3rem 3rem 0 0 $canary;
    margin-bottom: 20vh;
    .nameBox,
    .emailBox,
    .messageBox {
        background-color: $white;
    }
}