.homeHeader {
    background-image: url(../assets/header-image.jpg);
    h1 {
        padding-top: 30vh;
        z-index: 10;
        position: relative;
    }
}

.headerLense {
        position: absolute;
        right: -50px;
        bottom: 200px;
        max-width: 600px;
        width: 600px;
        height: auto;
        border: 40px solid $canary;
}

// MAIN

// section 1
.whatIs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 10vw;
}

// section 2
// .section2Text {

// }