// HEADER

.homeHeader {
    background: url(../assets/header-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 755px;
    h1 {
        padding-top: 40vh;
        z-index: 10;
        position: relative;
    }
}

.headerLense {
    position: absolute;
    right: -40px;
    bottom: 100px;
    max-width: 692px;
    width: 692px;
    height: 640px;
    border: 40px solid $canary;
    img {
        width: 100%;
        height: 100%;
    }
}

// MAIN

// section 1
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17vh 10vw;
}

// section 2
.section2 {
    @include grid(1fr 1fr, 1fr 1fr);
    .section2Img1,
    .section2Img2 {
        width: 536px;
        height: 335px;
        position: relative;
    }
    .section2Img1 img{
        width: 100%;
        height: 100%;
        box-shadow: 3rem 3rem 0 0 $canary;
        position: absolute;
        top: -30px;
        left: -130px;
    }
    .section2Img2 img{
        width: 100%;
        height: 100%;
        box-shadow: -3rem 3rem 0 0 $canary;
        position: absolute;
        top: 250px;
        left: 250px;
    }
    .section2Text {
    padding: 100px;
    width: 110%;
    }
    .newGear {
    text-align: right;
        ~ div {
            display: flex;
            justify-content: flex-end;
        }
    }
}

// section 3
.section3 {
    @include grid(1fr 1fr, 1fr 1fr);
    padding-top: 10rem;
    div {
        padding: 3rem;
    }
    h3 {
        position: relative;
    }
    h3::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        z-index: 2; 
    }
    .homeIcon1::before {
        content: "\f030";
        font-size: 3rem;
        top: 0.5rem;
        left: -5.7rem;
    }
    .homeIcon2::before {
        content: "\f0c0";
        font-size: 2.2rem;
        top: 1rem;
        left: -5.5rem;
    }
    .homeIcon3::before {
        content: "\f15b";
        font-size: 2rem;
        top: 1rem;
        left: -4.8rem;
    }
    .homeIcon4::before {
        content: "\f095";
        font-size: 2rem;
        top: 1.1rem;
        left: -5.1rem;
    }
    h3::after  {
        content: "";
        background-color: $seaGreen;
        display: inline-block;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        position: absolute;
        // top: -0.5rem;
        left: -6.5rem;
        z-index: 1;
    }
}


// section 4
.section4 {
    background: url(../assets/banner.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 31.25%;
}

// section 5
.section5 {
    display: flex;
    justify-content: space-between;
    padding: 8rem;
    div:first-child {
        width: 25rem;
        height: 25rem;
        box-shadow: 3rem 3rem 0 0 $canary;
    }
    div:last-child {
        width: 60%;
        h3 {
            margin-top: 0;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}

// section 6
.section6 {
    display: flex;
    justify-content: center;
    img {
        width: 30rem;
        height: 30rem;
        margin: 80px 20px;
    }
}