@import "./partials/setup";
@import "./partials/typography";

$trueDodgerBlue: #005A9C;
$canary: #FDFA69;
$seaGreen: #4CEEA7;
$black: #2C2C2C;
$white: #FAFAFA;
$ice: #EFFDF3;

// h1 {
//     color: $trueDodgerBlue;
//     margin: 0 auto;
//     font-size: 200px;
// }

// .wrapper {
    // max-width: 1300px;
