@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/index";
@import "./partials/blog";
@import "./partials/contact";
@import "./partials/typography";
@import "./partials/backgroundColors";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap');

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
}

body {
    overflow-x: hidden;
}

// section {
//     border: 1px solid red;
// }

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-top: 20px;
    margin: 0 50px 0 0;
    a {
        text-decoration: none;
        padding: 15px ;
        color: $black;
    }
    a:hover {
        border-bottom: 3px solid $seaGreen;
    }
}

button {
    border: none;
    padding: 5px 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    button {
        width: 100%;
    }
    .nameBox,
    .emailBox,
    .messageBox {
        padding: 20px;
        background-color: $ice;
    }
    .nameBox,
    .emailBox {
        width: calc((100% - 30px) / 2);
        border: none;
        border-bottom: 2px solid $seaGreen;
    }
    .nameBox {
    margin-right: 15px;
    }
    .emailBox {
        margin-left: 15px;
    }
    .messageBox {
        width: 100%;
        display: block;
        margin: 30px 0;
        align-content: center;
        border: 2px solid $seaGreen;
    }
}
